//
   Created by Indexyz on 2017/4/30.

extends ../navbar

block title
    title Identity · Access

block content
    .section.page-section.mdl-shadow--2dp
        .index--block
            h1=app.name + " 正在请求权限"
    br
    .mdl-typography--text-center.access-form
        .mdl-card.mdl-shadow--2dp.access-list
            br
            span.mdl-chip.mdl-chip--contact.mdl-typography--text-center.mdl-shadow--2dp
                if (app.image)
                    img.mdl-chip__contact(src="/resources/" + app.image)
                else
                    span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white N
                span.mdl-chip__text=app.name
            form(method="POST")
                .container
                    ul.mdl-list
                        li.mdl-list__item
                            span.mdl-list__item-primary-content
                                i.material-icons.mdl-list__item-avatar person
                                |       获取个人资料
                            span.mdl-list__item-secondary-action
                                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='get-info')
                                    input#get-info.mdl-checkbox__input(type='checkbox', checked disabled=true name='get-info')
                        if scope.indexOf("get-login") != -1
                            li.mdl-list__item
                                span.mdl-list__item-primary-content
                                    i.material-icons.mdl-list__item-avatar tag_faces
                                    |       读取登陆信息
                                span.mdl-list__item-secondary-action
                                    label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='get-login')
                                        input#get-login.mdl-checkbox__input(type='checkbox', checked='' name="get-login")
                        if scope.indexOf("modify-skin") != -1
                            li.mdl-list__item
                                span.mdl-list__item-primary-content
                                    i.material-icons.mdl-list__item-avatar accessibility
                                    |       上传/更换 皮肤
                                span.mdl-list__item-secondary-action
                                    label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='post-skin')
                                        input#post-skin.mdl-checkbox__input(type='checkbox', checked='' name="post-skin")
                        if scope.indexOf("get-log") != -1
                            li.mdl-list__item
                                span.mdl-list__item-primary-content
                                    i.material-icons.mdl-list__item-avatar show_chart
                                    |       读取日志
                                span.mdl-list__item-secondary-action
                                    label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='get-log')
                                        input#get-log.mdl-checkbox__input(type='checkbox', checked='' name="get-log")


                .mdl-card__actions.mdl-card--border
                    button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                        | 同意