//
   Created by Indexyz on 2017/4/10.

extends ../navbar

block title
    title Identity · Register

block content
    .section.page-section.mdl-shadow--2dp
        .index--block
            h1 Register for start
    .register-form.container
        if (e)
            span.mdl-chip.mdl-chip--contact
                span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
                    i.material-icons.mdl-chip__contact.chip--icon close
                span.mdl-chip__text=e

        form(method="POST", action="/auth/register", id="registerForm")
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text
                input#username.mdl-textfield__input(type='text', pattern="^\.{3,}$", name="username")
                label.mdl-textfield__label(for='username') 用户名
                span.mdl-textfield__error 用户名长度至少为3位
            br
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text
                input#password.mdl-textfield__input(type='password', pattern="^\.{6,}$", name="password")
                label.mdl-textfield__label(for='password') 密码
                span.mdl-textfield__error 密码长度至少为6位
            br
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text
                input#email.mdl-textfield__input(type='text', pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$", name="email")
                label.mdl-textfield__label(for='email') 邮箱
                span.mdl-textfield__error 检查你所输入的邮箱!
            br
            br
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.input--text(type="submit", id="registerButton")
                | 提交

block javascript
    script(type='text/javascript').
        var registerButton = document.getElementById("registerButton")
        function disableButton() {
            registerButton.disabled = true
        }
        var registerForm = document.getElementById("registerForm")
        registerForm.addEventListener("submit", function (event) {
            disableButton()
        })