//
   Created by Indexyz on 2017/8/20.

extends ../navbar

block content
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--overlay-drawer-button.mdl-layout--large-screen-only
        .mdl-layout__drawer.mdl-color--blue-grey-800.sidebar--member
            span.mdl-layout-title.font-white=$("admin.name")
            nav.mdl-navigation
                a.mdl-navigation__link.font-white(href='/admin')
                    i.material-icons home
                    |#{$("admin.index")}
                a.mdl-navigation__link.font-white(href='/admin/users')
                    i.material-icons supervisor_account
                    |#{$("admin.users.name")}
    .container.panel-carv
        block panel