//
   Created by Indexyz on 2017/4/7.

doctype html5
html
    head
        block head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/uptown.css')
    body
        block body