//
   Created by Indexyz on 2017/4/7.

doctype html
html
    head
        block head
        title= title
        //meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="/js/material.min.js")
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/style.css')
    body

        block body


