//
   Created by Indexyz on 2017/4/10.

extends ./basic

block body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        header.mdl-layout__header
            .mdl-layout__header-row
                // Title
                a.mdl-layout-title.text--link(href="/") Identity
                // Add spacer, to align navigation to the right
                .mdl-layout-spacer
                // Navigation. We hide it in small screens.
                nav.mdl-navigation.mdl-layout--large-screen-only.index-navigation
                    if (user == null)
                        a.mdl-navigation__link(href='/auth/login') Login
                        a.mdl-navigation__link(href='/auth/register') Register
                    else
                        a.mdl-navigation__link(href="/member/profile")=user.username
                        a.mdl-navigation__link(href='/member') Member
        .mdl-layout__drawer
            if (user == null)
                span.mdl-layout-title Identity
            else
                span.mdl-layout-title="Hello, " + user.username
            nav.mdl-navigation
                if (user == null)
                    a.mdl-navigation__link(href='/auth/login') Login
                    a.mdl-navigation__link(href='/auth/register') Register
                else
                    a.mdl-navigation__link(href='/member')
                        i.material-icons.index-color--blue-grey-800 home
                        |Member
                    a.mdl-navigation__link(href='/member/profile')
                        i.material-icons.index-color--blue-grey-800 settings
                        |Profile
                    a.mdl-navigation__link(href='/member/skin')
                        i.material-icons.index-color--blue-grey-800 accessibility
                        | Skin
        block nearHeader
        main.mdl-layout__content
            .page-content
                .wrapper
                    block content
                    .push
        footer.mdl-mini-footer
            .mdl-mini-footer__left-section
                .mdl-logo Identity
                ul.mdl-mini-footer__link-list
                    li
                        a(href='https://github.com/Indexyz/Identity/wiki') Help
            .mdl-mini-footer__right-section
                ul.mdl-mini-footer__link-list
                    li
                        a Made with love
                    li
                        a(href='https://github.com/Indexyz/Identity/') Identity


