
.index-navigation {
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.index-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}
.index-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

#background-img {
    background: url('/img/Sketch.png') no-repeat ;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

/** Page */
.container {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
}

/** Footer */

.wrapper {
    min-height: 90vh;
    margin: 0 auto -6.05em;
}
@media (max-width: 1439px) {
    .wrapper {
        margin: 0 auto -6.4em;
    }
}
@media (max-width: 759px) {
    .wrapper {
        margin: 0 auto -6em !important;
    }
}
@media (max-width: 1024px) {
    .wrapper {
        min-height: 85vh;
        margin: 0 auto -3.15em;
    }
}
.push {
    height: 2em;
}

footer {
    z-index: 9999;
    position: relative;
}

/** Auth */
.section {
    height: 20vh;
}

.page-section {
    background-color: #37474f;
}

.section > .index--block {
    padding-left: 15vh;
    padding-top: 5vh;
}
@media (max-width: 620px) {
    .section > .index--block {
        padding-left: 5%;
    }
}
@media (max-width: 461px) {
    .section {
        height: 30vh;
    }
}
.index--block {
    color: #e0f7fa;
}
.index--block > * {
    margin-top: 0px;
}

.login-form {
    width: 100%;
    text-align: center;
}
.login-form {
    padding-left: 0% !important;
}

.input--text {
    width: 60%;
}
.login-form {
    /*margin-top: 5%;*/
}
.register-form {
    width: 100%;
    text-align: center;
    padding-left: 0% !important;
}

.card-square.mdl-card {
    vertical-align: middle;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    height: 320px;
}
.card-square > .mdl-card__title {
    color: #fff;
    background: url('/img/dog.png') bottom right 15% no-repeat #46B6AC;
}


.wrapper > .center {
    padding-top: 2vh;
}

.font-white {
    color: #e0f7fa !important;
}
.mdl-navigation__link.font-white:hover {
    color: #5d4037 !important;
}

.panel-carv {
    
}
@media (min-width: 1025px) {
    .panel-carv {
        padding-left: 280px;
    }
}

.font-center {
    text-align: center;
}

.wrapper > .mdl-layout__container {
    position: fixed;
    width: 240px;
}