
.index-navigation {
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.index-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}
.index-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

#background-img {
    background: url('/img/Sketch.png') no-repeat ;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
#background-img > * {
    margin-top: 0px;
}
/** Page */
.container {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
}

/** Footer */


body {
    min-height: 100vh;
    flex-direction: column;
}

.blur {
    -webkit-filter: blur(3px) grayscale(12.5%);
}

main {
    flex: 1 0 auto !important;
    padding-bottom: 24px;
}

.mdl-layout__drawer> .mdl-navigation > a {
    padding-left: 24px !important;
}
.sidebar--member > span {
    padding-left: 24px !important;
}

footer {
    z-index: 9999;
    position: relative;
}

/** Auth */
.section {
    min-height: 20vh;
}

.page-section {
    background-color: #37474f;
}

.section > .index--block {
    padding-left: 15vh;
    padding-top: 5vh;
}
@media (max-width: 620px) {
    .section > .index--block {
        padding-left: 5%;
    }
}

.index--block {
    color: #e0f7fa;
}
.index--block > * {
    margin-top: 0px;
}

.index--block > h1 {
    padding-bottom: 24px;
}

.login-form,
.register-form,
.disagree-form,
.__input-form{
    width: 100%;
    text-align: center;
    padding-left: 0% !important;
}

.input--text {
    width: 60%;
}


.card-square.mdl-card {
    vertical-align: middle;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    height: 320px;
}
.card-square > .mdl-card__title {
    color: #fff;
    background: url('/img/dog.png') bottom right 15% no-repeat #46B6AC;
}


.wrapper > .center {
    padding-top: 2vh;
}

.font-white {
    color: #e0f7fa !important;
}


main {
    margin-top: 64px;
}

@media screen and (max-width: 1024px) {
    main {
        margin-top: 56px;
    }
}

@media (min-width: 1025px) {
    .panel-carv {
        padding-left: 280px;
    }
}

.font-center {
    text-align: center;
}

.index--fullwidth {
    width: 100%;
    min-height: 0px;
}
#detail {
    color: lightcyan;
    text-shadow: 1px 1px 6px black;
    line-height: 50px;
    text-align: center;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#detail > h1 {
    font-size: 50px;
}
#detail > p {
    font-size: 20px;
}
@media (min-width: 1024px) {
    #detail {
        line-height: 10px;
    }
}
.mdl-layout__header.is-casting-shadow {
    position: fixed;
}

main.mdl-layout__content {
    overflow: hidden;
}
footer {
    min-height: 36px;
}
.mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.text--link {
    color: white;
    text-decoration: none;
}

.link--no-underline {
    text-decoration: none;
}

.mdl-layout__drawer.is-visible {
    position: fixed;
}
.mdl-layout__obfuscator.is-visible {
    position: fixed;
}
.mdl-navigation__link {
    font-weight: 500;
    font-size: 14px;
}
a.font-white:hover {
    background-color: teal !important;
}

.file-uploader {
    position: relative;
    display: inline-block;
}
.file-uploader input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file-uploader > .mdl-button__ripple-container {
    display: none;
}
@media screen and (min-width: 1024px) {
    .login-info-list {
        margin-right: auto;
        margin-left: auto;
    }
}

.access-form {
    text-align:center;
}

@media screen and (min-width: 1024px) {
    .access-list {
        width: 50%;
        display:inline-block;
    }
}
@media screen and (max-width: 1024px) {
    .access-list {
        width: 95%;
        display:inline-block;
    }
}

@media screen and (max-width: 760px) {
    footer {
        min-height: 54px;
    }
}
.fullwidth {
    width: 100%;
}

.index-color--blue-grey-800 {
    color: #37474f !important;
}

.underline {
    border-bottom: 1px #e1e4e8 solid;
}

.chip--icon {
    line-height: normal !important;
    padding-top: 3px !important;
}

.normal--logo {
    height: 64px;
    width: 64px;
}

.small--logo {
    height: 32px;
    min-width: 32px;
}

.logo--button--upload {
    padding-top: 12px;
}
.no-padding {
     padding: 0 0;
}

.icon-image {
    padding-right: 8px;
}


.forgot-password {
    width: 80%;
    text-align: right;
}

.sidebar--member {
    width: 200px;
}