//
   Created by Indexyz on 2017/4/11.

extends ./basic

block title
    title Identity · Member

block panel
    if (user.emailToken)
        .mdl-typography--text-center
           span.mdl-chip.mdl-chip--contact.mdl-shadow--2dp.mdl-chip--deletable
               span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
                   i.material-icons.mdl-chip__contact.chip--icon priority_high
               span.mdl-chip__text 您的账户还未验证邮箱 请及时验证
                    a#resendButton.mdl-chip__action(href='/auth/resend?mail=' + user.email)
                        i.material-icons(style="line-height: 0.95;") cached
                    .mdl-tooltip(data-mdl-for="resendButton") 重发邮件

    br
    #chartContainer(style="height: 300px; width: 100%;")
    h4.font-center=$("member.page.index.lastLoginHistory")
    ul.login-info-list.mdl-list.font-center
        - for log in logs
            li.mdl-list__item.mdl-list__item--three-line
                span.mdl-list__item-primary-content
                    i.material-icons.mdl-list__item-avatar person
                    span=$("member.page.index.loginAddress") + log.ip
                    span.mdl-list__item-text-body=log.log
                span.mdl-list__item-secondary-content
                    p=moment(log.date).fromNow()


block javascript
    script(src="//cdn.bootcss.com/canvasjs/1.7.0/canvasjs.min.js")
    script(type='text/javascript').
        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: false,
            animationEnabled: true,
            title: {
                text: "#{$("member.page.index.lastSevenLogin")}"
            },
            data: [{
                type: "splineArea",
                dataPoints: !{data}
            }]
        });
        chart.render();