//
   Created by Indexyz on 2017/5/13.

extends ./basic

block panel
    .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title
                    h2.mdl-card__title-text 我使用的应用
                - for app in userAuth
                    .mdl-list
                        .mdl-list__item
                            span.mdl-list__item-primary-content
                                i.material-icons.mdl-list__item extension
                                span=app.name
                            a.mdl-list__item-secondary-action(href='/member/apps/cancel/' + app.source._id, id="clear-" + app._id)
                                i.material-icons clear
                            .mdl-tooltip(data-mdl-for='clear-' + app._id) 取消权限

        .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title
                    h2.mdl-card__title-text 我申请的应用
                .mdl-list
                    - for app in createApps
                        .mdl-list__item
                            span.mdl-list__item-primary-content
                                i.material-icons.mdl-list__item extension
                                span=app.name
                            a.mdl-list__item-secondary-action(href='/member/apps/remove/' + app._id, id="cancel-" + app._id)
                                i.material-icons clear
                                .mdl-tooltip(data-mdl-for='cancel-' + app._id) 删除应用
                            a.mdl-list__item-secondary-action(href='/member/apps/edit/' + app._id, id="edit-" + app._id)
                                i.material-icons edit
                                .mdl-tooltip(data-mdl-for='edit-' + app._id) 编辑应用
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/member/apps/new")
                        span.mdl-list__item-primary-content
                            i.material-icons.test queue