//
   Created by Indexyz on 2017/5/13.

extends ./basic

block panel
    if (success)
        .mdl-typography--text-center
            span.mdl-chip.mdl-chip--contact.mdl-shadow--2dp
                span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
                    i.material-icons.mdl-chip__contact.chip--icon check
                span.mdl-chip__text=success
    .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title
                    h2.mdl-card__title-text=$("apps.header.usingApp")
                - for app in userAuth
                    .mdl-list
                        .mdl-list__item
                            span.mdl-list__item-primary-content
                                if (app.image)
                                    img.icon-image.no-padding.small--logo.material-icons.mdl-list__item(src="/resources/" + app.image)
                                else
                                    i.material-icons.mdl-list__item extension
                                span=app.name
                            a.mdl-list__item-secondary-action(href='/member/apps/cancel/' + app._id, id="clear-" + app._id)
                                i.material-icons clear
                            .mdl-tooltip(data-mdl-for='clear-' + app._id)=$("apps.message.cancelApp")

        .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title
                    h2.mdl-card__title-text=$("apps.header.applyApp")
                .mdl-list
                    - for app in createApps
                        .mdl-list__item
                            span.mdl-list__item-primary-content
                                if (app.image)
                                    img.icon-image.no-padding.small--logo.material-icons.mdl-list__item(src="/resources/" + app.image)
                                else
                                    i.material-icons.mdl-list__item extension
                                span=app.name
                            a.mdl-list__item-secondary-action(href='/member/apps/edit/' + app._id, id="edit-" + app._id)
                                i.material-icons edit
                            .mdl-tooltip(data-mdl-for='edit-' + app._id) 编辑应用
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/member/apps/new")
                        span.mdl-list__item-primary-content
                            i.material-icons.test queue